@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'JetBrains Mono';
}

.active {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: #67d2e2;
    color: #63cddd;
    font-weight: bold;
    animation: active 0.2s ease-out;
    transition: all 20.2s;
    animation-fill-mode: forwards;
}

.deactive {
    transition: all 20.2s;
}

.kaio {
    animation-name: fadeIn;
    animation-duration: 4s;
}

.dark,
body,
p,
h1,
h2,
h3,
h4 {
    transition: all 2s ease-in-out;
    --background: #0a0a0a !important;
    --foreground: #ededed !important;
    color: var(--foreground) !important;
}
#movimentando {
    --background: #0a0a0a;
    --foreground: #c55050;
    color: var(--foreground) !important;
}
.light * {
    transition: all 2s ease-in-out;
    --background: #ffffff !important;
    --foreground: #171717 !important;
    color: var(--foreground) !important;
}
@keyframes active {
    from {
        transform: scale(1);
        letter-spacing: 0.1em;
    }
    to {
        transform: scale(1);
        letter-spacing: 0.3em;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(4% 2% 4% 2%);
        transform: translate3d(-42, 0, 0);
        filter: blur(2);
    }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
        transform: translate3d(20, 0, 0);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    }
}

.revealing-image {
    /* Create View Timeline */
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear reveal both;
    animation-timeline: --revealing-image;

    /* Tweak range when effect should run*/
    animation-range: entry 25% cover 50%;
}
